.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar{
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.title{
  color: white;
  font-weight: 1000;
}
.btn{
  height: fit-content;
  width: 100px;
  margin: 15px;
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  background-color: rgb(1,136,165);
}
.linkBox{
  display: flex;
  justify-content: space-around;
  width: 300px;
  
}
.linkBox > a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: small;

}