.redText{
    color: red;
}
.blueText{
    color: blue;
}
#text:hover{
    cursor: pointer;
    color: chartreuse;

}
.cell{
    width: 100px;
    height: 50px;
    border: 2px dotted red;   
}
#newRoot{
    color: darkorchid;
}